{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}
{% block title %}分子过滤{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        分子过滤
        <small>测试版</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">分子过滤</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
    <!-- Main content -->

    <form action="{% url 'lbdd:molecules_filter' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>
        <p><input type="submit" value="Filter" /></p>
    </form>
    {% if dfile %}
    <a href="{{dfile.passed_file.url}}"><button class="btn btn-default btn-md">Download Filtered </button></a>
    <a href="{{dfile.error_file.url}}"><button class="btn btn-default btn-md">Download Error Smiles</button></a>
    {% else %}

    {% endif %}
    <!-- /.content -->
{% endblock %}