{% load static %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
   {% endblock %}

<script type="text/javascript" language="javascript" src="{% static 'JSME_2021-07-13/jsme/jsme.nocache.js' %}"></script>

<table>
    <tr>
        
<td><div code="JME.class" archive="JME.jar" width=80 height=60>
    <param name="options" value="depict,useopenchemlib">
    <param name="smiles"
           value="CC1=C2[C@@]([C@]([C@H]([C@@H]3[C@]4([C@H](OC4)C[C@@H]([C@]3(C(=O)[C@@H]2OC(=O)C)C)O)OC(=O)C)OC(=O)c5ccccc5)(C[C@@H]1OC(=O)[C@H](O)[C@@H](NC(=O)c6ccccc6)c7ccccc7)O)(C)C">
</div>
</td>
</tr>
</table>
