{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}
{% block title %}A list of in-house compounds{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        A list of in-house compounds
        <small>测试版</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">A list of in-house compounds</li>
      </ol>
    </section>
{% endblock %}




{% block content %}


    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

        <div class="box">
        <div class="box-header">
          <h3 class="box-title">A list of in-house compounds<small>(测试版)</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="inhouse_ligand_table" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Compound ID</th>
              <!--th>Canonical Smile</th-->
              <th>Ligand Image</th>
              <th>Target ID</th>
              <th>Assay Type</th>
              <th>Activity Type</th>
              <th>Activity Value</th>
              <th>Activity Unit</th>
              <th>LogP</th>
              <th>TPSA</th>
              <th>Recorder</th>
              <th>Date Modified</th>
            </tr>
            </thead>
            <tbody>

              {% for compound in allosrimolecule %}
              <tr>
                <!--td>{{ compound.ligand_id}}</td--> 
                <td><li><a href="{% url 'chemblbase:singlemoleculeosri' compound.ligand_id %}">{{ compound.ligand_id }}</a></li></td> 
                <td> <img align="center" width="50%" height="25%" src= {{ compound.img_temp.url }} ></td>
                <td>{{ compound.target_id}}</td>
                <td>{{ compound.assay_type}}</td>
                <td>{{ compound.activity_type}}</td>
                <td>{{ compound.activity_value}}</td>
                <td>{{ compound.activity_unit}}</td>
                <td>{{ compound.logp}}</td>
                <td>{{ compound.tpsa}}</td>
                <td>{{ compound.recorder}}</td>  
                <td>{{ compound.date_modified}}</td>
              </tr>

              {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <th>Compound ID</th>
                <!--th>Canonical Smile</th-->
                <th>Target ID</th>
                <th>Assay Type</th>
                <th>Activity Type</th>
                <th>Activity Value</th>
                <th>Activity Unit</th>
                <th>LogP</th>
                <th>TPSA</th>
                <th>Recorder</th>
                <th>Date Modified</th>
            </tr>
            </tfoot>
          </table>

        </div>
      <!-- /.box-body -->
      </div>
    <!-- /.box -->
      </div>
  <!-- /.col -->
    </div>
  <!-- /.row -->
    </section>


 


{% endblock %}

{% block script %}



<script src="{% static 'adminlet-2.4.10/plugins/datatables/jquery.dataTables.js' %}"></script>

<script src="{% static 'adminlet-2.4.10/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>




<script>
  $(function () {
    $('#inhouse_ligand_table').DataTable({
      "paging": true,       
      "lengthChange": true,
      "searching": true,    
      "ordering": true,    
      "info": true,         
      "autoWidth": true,   
    });
  });
</script>



{% endblock %}