{% extends 'base.html' %}
{% load static %}
{% block title %}Novel Database{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Novel Database
        <small>测试版</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">Novel</li>
      </ol>
      <img align="center" width="50%" height="25%" src= {{wntcompound.imgfile.url}} >
    </section>
{% endblock %}

{% block content %}

<h1>Great!</h1>

{% endblock %}